.modal-content {
    background-color: darkcyan;
}

.btn-link {
    color: white;
}

.modal-heading h2 {
    color: #ddf2f0;
}

.text-danger-dec {
    color: red;
    font-style: italic;
}

// .login-card-bg {
//     background-color: #f1f1ff;
// }

.card-width {
    width: 30%;
}
.bgColor
{
    background-color:#f1f1ff;
}