.bg
{   
    //   background: url('../../../assets/images/regs.jpg') no-repeat center;
     

    // height:auto; 
	min-height:100vh; 
    // background-image:url(/path/to/image.jpg); 
    background-image: url('../../../assets/images/regs.jpg');
	background-size:cover; 
	// background-position:center; 
}